<%- include('partials/header') -%>
<div class="resources">
  <div class="form-container ">
    <h2>Add a Resource</h2>
    <form action="/resource/createResource" enctype="multipart/form-data" method="POST" class="resources-form">
      <div class="mb-3">
        <label for="title" class="form-label">Resource title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Resource description</label>
        <input type="text" class="form-control" id="desc" name="desc">
      </div>
      <div class="mb-3">
        <label for="link" class="form-label">Resource link</label>
        <input type="text" class="form-control" id="link" name="link">
      </div>
      <label for="tags">Choose tags:</label>
      <select id="tags" name="tags" multiple>
        <% for(var i=0; i<tagsList.length; i++) {%>
          <option value="<%= tagsList[i] %>"><%= tagsList[i] %></option>          
        <% } %>
      </select>
      <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
  </div>
  
  
  <div class="container">
    <h1 class="list-title">Resource List</h1>
    <% for(var i=0; i<resources.length; i++) {%>
          <h2><%= resources[i].title %></h2>
          <h2><%= resources[i].desc %></h2>
          <h2><%= resources[i].link %></h2>
          <h2><%= resources[i]._id %></h2>
          <h2><%= resources[i].tags %></h2>
          <% for(var j=0; j<resources[i].tutorials.length; j++) {%>
            <h2><%= resources[i].tutorials[j].tutorial %></h2> 
            
          <% } %> 
          <form
            action="/resource/addNewTutorial/<%= resources[i]._id %>?_method=PUT"
            method="POST"
            class="add-price"
          >
            <input type="text" class="form-control" id="tutorial" name="tutorial" required>
            <button class="btn btn-primary fa Square-Plus fontawesomeicon" type="submit"></button>
          </form>
          <form
              action="/resource/deleteResource/<%= resources[i]._id %>?_method=DELETE"
              method="POST"
          >
            <button class="btn btn-primary fa fa-trash" type="submit"></button> 
          </form>
          <form
              action="/resource/<%= resources[i]._id %>?_method=GET"
              method="POST"
          >
            <button class="btn btn-primary fa Square-Plus fontawesomeicon" type="submit"></button> 
          </form>
          
      <% } %>
  </div>  
</div>

  <div class="list-button-container">
    <div class="list-button">
      <a class="btn btn-primary" href="/profile">Return to Dashboard</a>
    </div>
  </div>
<%- include('partials/footer') -%>


