<%- include('partials/header') -%>


<div class="top-container">
  <div class="list-button">
    <a class="btn btn-primary" href="/feed">Return to Resources List</a>
  </div>   
  <div class="inner-container">
      <p class="user-info"><strong>User Name</strong>: <%= user.userName %></p>
      <p class="user-info"><strong>Email</strong>: <%= user.email %></p>
      <div>
        <a href="/logout" class=" btn btn-primary">Logout</a>
      </div>
    </div>
</div>
<div class="profile-container ">
  <div class="table-container">
    <h2>Your Resources</h2>
    <% for(var i=0; i<resources.length; i++) {%>
      <h3><%= resources[i].title %></h3>
      <h3><%= resources[i].desc %></h3>
      <h3><%= resources[i].link %></h3>
    <% } %>
  </div>
</div>


<%- include('partials/footer') -%>